@import "mixin.less";

.my-inline-block {
    color: green;
    font-size: 3rem;
    font-style: italic;

    .thing1 {
        &:extend(.my-inline-block);
        color: red;
    }

    .thing2 {
        &:extend(.my-inline-block);
        color: yellow;
    }
}

.mixins-div{
    .mixin1{
        .mixin();
    }
    .mixin2{
        .mixin();
        color: rgb(173, 130, 215);
    }
}

.operation-div{
    .operation1{
        @base: #f04615;
        @width: 0.3;

        font-size: 9rem;
        width: percentage(@width); // returns `50%`
        color: saturate(@base, 5%);
        background-color: spin(lighten(@base, 25%), 8);
    }
    .operation2{
        .mixin();
        color: black;
        @height: 5rem;
        @width: 7rem;
        @result: @height + @width;
        font-size: @result;
    }
}