@import "mixin.less";
@import "variables.less";

/*** RESETS ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

@keyframes up-down {
    0% {
        transform: translateY(0%);
    }

    25% {
        transform: translateY(15%);
    }

    50% {
        transform: translateY(25%);
    }

    75% {
        transform: translateY(-25%);
    }

    100% {
        transform: translateY(-0%);
    }
}

@keyframes down-up {
    0% {
        transform: translateY(25%);
    }

    25% {
        transform: translateY(15%);
    }

    50% {
        transform: translateY(0%);
    }

    75% {
        transform: translateY(15%);
    }

    100% {
        transform: translateY(25%);
    }
}

/*** NAV AND HEADER SECTION ****************************************/

.nav-header-container {
    padding: 1% 2%;
    background-image: url("../assets/nav-header/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .desktop-vh-sizing();
    position: relative;

    &::before {
        content: "";
        background-image: url("../assets/nav-header/hero-bg2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left bottom;
        height: 88%;
        width: 45%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }

    nav {
        .nav-overlay {
            padding-right: 1%;
            .flex-box();
            position: sticky;
            z-index: 5;

            .right-nav {
                .flex-box();
                gap: 2rem;

                i {
                    font-size: 1.2rem;
                    color: @color-light-white;
                }

                button {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    .flex-box-column();
                    justify-content: end;
                    align-items: end;

                    .span-long {
                        display: block;
                        width: 2.3rem;
                        height: .3rem;
                        border-radius: .2rem;
                        background-color: #ffffff;
                        margin: .2rem;
                    }

                    .span-short {
                        .span-long();
                        width: 1.4rem;
                    }
                }
            }

        }
    }

    header {
        min-height: 80vh;
        .flex-box-column();

        .header-overlay {
            min-height: 80vh;
            width: 80%;
            z-index: 1;
            padding-top: 3%;
            .flex-box();
            align-items: flex-start;

            .left-header {
                width: 55%;
                .flex-box();
                gap: .6rem;
                align-items: start;

                .header-info {
                    h4 {
                        .norm-text();
                        font-size: 1.3rem;
                    }

                    h2 {
                        .title();
                        font-size: 3.5rem;
                    }

                    h1 {
                        .title();
                        color: @color-yellow;
                        font-size: 3.5rem;
                    }

                    p {
                        .norm-text();
                        font-size: 1.1rem;
                        padding: 2rem 0;
                    }

                    .button-container {
                        &> :first-child {
                            .button();
                            margin-right: 1rem;
                            margin-bottom: 1rem;
                        }

                        button {
                            .button-yellow();
                        }
                    }
                }

                .header-line {
                    border-right: 2px solid #e7d619;
                    height: 25rem;
                }
            }

            .right-header {
                width: 63%;
                position: relative;

                img {
                    width: 115%;
                    z-index: 2;
                    position: absolute;
                    top: -1rem;
                    right: -7.5rem;
                }
            }
        }

        @media screen and (min-width:768px) and (max-width:1024px) {
            .desktop-vh-sizing-tablet();
            .flex-box-column();

            .header-overlay {
                .desktop-vh-sizing-tablet();

                .left-header {

                    .header-info {
                        h4 {
                            .norm-text();
                            font-size: 1.1rem;
                            padding: .5rem 0;
                        }

                        h2 {
                            .title();
                            font-size: 3rem;
                        }

                        h1 {
                            .title();
                            color: @color-yellow;
                            font-size: 3rem;
                        }

                        p {
                            .norm-text();
                            font-size: 1rem;
                            padding: 2rem 0;
                        }

                    }

                    .header-line {
                        display: none;
                    }
                }

                .right-header {
                    img {
                        right: -5rem;
                    }
                }
            }
        }

        @media screen and (min-width:320px) and (max-width:768px) {
            min-height: 80vh;
            .flex-box-column();

            .header-overlay {
                min-height: 80vh;
                width: 80%;
                z-index: 1;
                padding: 3% 0;
                .flex-box-column();
                justify-content: start;
                gap: 2rem;

                .left-header {
                    width: 100%;
                    .flex-box-column();
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: .6rem;
                    align-items: start;

                    .header-info {
                        h4 {
                            .norm-text-mob();
                        }

                        h2 {
                            .title-mob();
                        }

                        h1 {
                            .title-mob();
                            color: @color-yellow;
                        }

                        p {
                            .norm-text-mob();
                            padding: 2rem 0;
                        }

                        .button-container {
                            .flex-box();
                            justify-content: center;
                            flex-wrap: wrap;

                            &> :first-child {
                                .button-mob();
                                margin-right: .5rem;
                                margin-bottom: 1rem;
                            }

                            button {
                                .button-yellow-mob();
                                margin-bottom: 1rem;
                            }
                        }
                    }

                    .header-line {
                        display: none;
                    }
                }

                .right-header {
                    min-width: 100%;
                    position: relative;

                    img {
                        width: 115%;
                        position: static;
                    }
                }
            }
        }
    }

    .overlay-down {
        ol {
            .flex-box();
            position: absolute;
            bottom: -.5rem;
            left: 45%;

            .li1 {
                .li2();
                width: 1.3rem;
                height: 1.3rem;
            }

            .li2 {
                width: 1rem;
                height: 1rem;
                background: transparent;
                border: 2px solid #e7d619;
                margin: 0 4px;
                border-radius: 50%;
            }

            .li3 {
                .li2();
            }

            .li4 {
                .li2();
            }
        }
    }

    @media screen and (min-width:768px) and (max-width:1024px) {
        padding: 1% 2%;
        background-image: url("../assets/nav-header/hero-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .desktop-vh-sizing-tablet();
        position: relative;

        &::before {
            content: "";
            background-image: url("../assets/nav-header/hero-bg2.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left bottom;
            height: 95%;
            width: 45%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
        }
    }

    @media screen and (min-width:320px) and (max-width:768px) {
        padding: 1% 2%;
        background-image: url("../assets/nav-header/hero-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        .desktop-vh-sizing-tablet();
        position: relative;

        &::before {
            background-size: cover;
            background-position: left bottom;
            height: 15%;
            width: 35%;
        }
    }
}


.about {
    .flex-box-column();

    .about-overlay {
        min-height: 65vh;
        .flex-box-column();
        .desktop-sizing();

        .about-img {
            img {
                width: 100%;
            }
        }

        .about-info {
            .flex-box-column();

            h2 {
                .title();
            }

            p {
                .norm-text();
                text-align: center;
                width: 82%;
            }

            div {
                .flex-box();
                justify-content: center;
                gap: .2rem;
                width: 100%;

                a {
                    .norm-text();
                    font-size: 1rem;
                    color: @color-yellow;
                    text-transform: uppercase;
                }

                img {
                    width: 1.5%;
                }
            }
        }
    }

    @media screen and (min-width:768px) and (max-width:1024px) {
        .about-overlay {
            min-height: 45vh;
            .flex-box-column();
            .mobile-sizing();

            .about-info {
                h2 {
                    .title-mob();
                }

                p {
                    .norm-text-mob();
                    width: 80%;
                }

            }
        }
    }

    @media screen and (min-width:320px) and (max-width:768px) {
        min-height: 40vh;

        .about-overlay {
            min-height: 40vh;
            .flex-box-column();
            .mobile-sizing();

            .about-info {
                h2 {
                    .title-mob();
                }

                p {
                    .norm-text-mob();
                    width: 88%;
                }

            }
        }
    }
}

.products {
    background-image: url("../assets/porducts/animal-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .flex-box-column();
    min-height: 90vh;
    overflow: hidden;

    .porducts-overlay {
        .desktop-sizing();
        .flex-box();

        .product-card {
            animation: up-down 3s linear infinite;
            width: 20%;

            img {
                width: 90%;
                border-radius: 2rem;
            }

            h2 {
                .title();
                font-size: 1.5rem;
                color: @color-white;
                text-align: center;
            }

            p {
                .norm-text();
                color: @color-white;
                text-align: center;
                padding: 0;
                font-size: 1rem;
            }
        }

        .cardUp {
            animation: down-up 2s linear infinite;
        }
    }

    @media screen and (min-width:768px) and (max-width:1024px) {
        .flex-box-column();
        background-position: center;
        min-height: 90vh;

        .porducts-overlay {
            min-height: 80vh;
            .flex-box();
            flex-wrap: wrap;

            .product-card {
                animation: up-down 3s linear infinite;
                width: 45%;
                .flex-box-column();

                img {
                    width: 65%;
                }
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:768px) {
        .flex-box-column();
        background-size: cover;
        background-position: right;
        min-height: 100vh;

        .porducts-overlay {
            min-height: 100vh;
            .mobile-sizing();
            padding: 2rem 0;
            .flex-box();
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem;

            .product-card {
                animation: up-down 3s linear infinite;
                width: 100%;
                .flex-box-column();

                img {
                    width: 45%;
                }

                h2 {
                    .title-mob();
                    color: @color-white;
                    text-align: center;
                }

                p {
                    .norm-text-mob();
                    color: @color-white;
                    text-align: center;
                    padding: 0;
                    width: 100%;
                }

                animation: unset;
            }
        }
    }
}

.caring {
    margin: 8rem 0;
    .flex-box-column();
    min-height: 60vh;

    .caring-overlay {
        min-height: 60vh;
        .desktop-sizing();

        .flex-box();
        align-items: center;

        .caring-img {
            position: relative;
            width: 50%;

            img {
                width: 90%;
                position: sticky;
                z-index: 2;
            }

            &::after {
                content: "";
                background-image: url("../assets/caring/pet-bg.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: left bottom;
                height: 110%;
                width: 90%;
                position: absolute;
                left: -10rem;
                bottom: -2rem;
                z-index: 0;
            }
        }

        .caring-card {
            width: 49%;
            .flex-box-column();
            align-items: start;

            .caring-card-img {
                width: 10%;
            }

            .caring-info {
                .flex-box-column();
                align-items: start;

                h2 {
                    .title();
                }

                p {
                    .norm-text();
                }

                div {
                    .flex-box();
                    justify-content: flex-start;
                    gap: .2rem;
                    width: 100%;

                    a {
                        .norm-text();
                        font-size: 1rem;
                        color: @color-yellow;
                        text-transform: uppercase;
                    }

                    img {
                        width: 3%;
                    }
                }
            }
        }
    }

    @media screen and (min-width:768px) and (max-width:1024px) {
        margin: 5rem 0;

        .caring-overlay {
            .caring-img {

                img {
                    width: 100%;

                }

                &::after {
                    left: -5rem;
                    bottom: -2rem;
                }
            }

            .caring-card {
                .caring-card-img {
                    width: 10%;
                }

                .caring-info {
                    .flex-box-column();
                    align-items: start;

                    h2 {
                        .title();
                        line-height: unset;
                    }

                    p {
                        .norm-text-mob();
                        text-align: left;
                        padding: 0;
                    }
                }
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:768px) {
        margin: 5rem 0;

        .caring-overlay {
            .flex-box-column();
            gap: 2rem;

            .caring-img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60%;

                &::after {
                    left: -3rem;
                    bottom: 0;
                }
            }

            .caring-card {
                width: 100%;
                .flex-box-column();

                .caring-card-img {
                    width: 10%;
                }

                .caring-info {
                    .flex-box-column();

                    h2 {
                        .title-mob();
                        line-height: unset;
                        padding: 0;
                    }

                    p {
                        .norm-text-mob();
                    }

                    div {
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.choosing-us {
    margin: 8rem 0;
    .flex-box-column();

    .choosing-us-overlay {
        .desktop-sizing();
        .flex-box-column();
        align-items: start;

        .choosing-title-img {
            width: 5%;
        }

        .choosing-title-info {
            .flex-box-column();
            align-items: start;

            h2 {
                .title();
                margin-top: -1.3rem;
            }

            p {
                .norm-text();
            }
        }

        .choosing-cards {
            .flex-box();
            gap: 15rem;

            .choosing-card {
                .flex-box-column();
                gap: 2rem;
                width: 33.3%;

                .pet {
                    img {
                        width: 100%;
                    }
                }

                .pet-info {
                    .flex-box-column();
                    justify-content: center;

                    img {
                        width: 90%;
                    }

                    h2 {
                        .title-mob();
                        text-transform: uppercase;
                        padding: 1rem 0;
                        font-size: 1rem;
                    }
                }
            }
        }

        .read-more {
            margin-top: 2rem;
            .flex-box();
            justify-content: center;
            gap: .2rem;
            width: 100%;

            a {
                .norm-text();
                font-size: 1rem;
                color: @color-yellow;
                text-transform: uppercase;
            }

            img {
                width: 3%;
            }
        }
    }

    @media screen and (min-width:768px) and (max-width:1024px) {
        margin: 3rem 0;
        .flex-box-column();

        .choosing-us-overlay {
            .choosing-cards {
                .flex-box();
                gap: 2rem;

                .choosing-card {
                    .flex-box-column();
                    gap: 2rem;

                    .pet-info {
                        .flex-box-column();
                        justify-content: center;

                        img {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:768px) {
        margin: 1rem 0;
        .flex-box-column();

        .choosing-us-overlay {
            .desktop-sizing();
            .flex-box-column();
            align-items: center;

            .choosing-title {
                width: 100%;
                margin-bottom: 1rem;
                .flex-box-column();

                .choosing-title-img {
                    width: 9%;
                }

                .choosing-title-info {
                    .flex-box-column();
                    align-items: center;

                    h2 {
                        .title-mob();
                        margin-top: -.6rem;
                    }

                    p {
                        .norm-text-mob();
                    }
                }
            }

            .choosing-cards {
                width: 100%;
                .flex-box-column();
                gap: 1.5rem;

                .choosing-card {
                    width: 100%;
                }
            }
        }
    }
}

.food {
    .flex-box-column();
    min-height: 100vh;
    position: relative;

    .food-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // min-height: 97vh;
        height: 60%;
        background-color: @color-blue;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 0;
    }

    .food-overlay {
        position: sticky;
        z-index: 1;
        padding: 5% 0;
        .desktop-sizing();

        .food-title {
            .flex-box-column();
            .desktop-sizing();

            width: 100%;

            .food-title-img {
                img {
                    width: 100%;
                }
            }
        }

        .food-title-info {
            .flex-box-column();

            h2 {
                .title();
                color: @color-white;
            }

            p {
                .norm-text();
                text-align: center;
                width: 82%;
                color: @color-white;
            }
        }

        .food-cards {
            .flex-box();
            align-items: end;
            margin-top: 2rem;

            .food-card {
                .food-card-info {
                    .flex-box-column();

                    h3 {
                        .title-mob();
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        color: @color-yellow;
                        font-weight: 400;
                    }

                    h2 {
                        .title-mob();
                        color: @color-yellow;

                        span {
                            color: @color-blue;
                        }
                    }

                    button {
                        .button();
                        color: @color-yellow;
                        font-weight: 400;
                        margin-top: 2rem;
                    }
                }
            }
        }
    }

    @media screen and (min-width:768px) and (max-width:1024px) {
        min-height: 80vh;

        .food-container {
            min-height: 50%;
        }

        .food-overlay {
            padding: 3% 0;

            .food-card {
                .food-card-img {
                    .flex-box-column();

                    img {
                        width: 70%;
                    }
                }
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:768px) {
        min-height: 80vh;

        .food-container {
            height: 30%;
        }

        .food-overlay {
            padding: 5% 0;

            .food-cards {
                .flex-box-column();
                gap: 2rem;

                .food-card {
                    width: 100%;

                    .food-card-img {
                        .flex-box-column();

                        img {
                            width: 100%;
                        }
                    }

                    .food-card-info {
                        p {
                            .norm-text-mob();
                        }
                    }
                }
            }
        }
    }
}

.costumer {
    background-image: url("../assets/costumer/client-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .flex-box-column();
    min-height: 85vh;
    position: relative;

    .costumer-overlay {
        position: sticky;
        z-index: 1;
        padding: 5% 0;
        .desktop-sizing();

        .costumer-title {
            .costumer-title-img {
                width: 5%;
            }

            .costumer-title-info {
                .flex-box-column();
                align-items: start;

                h2 {
                    .title();
                    margin-top: -1.3rem;
                }

                p {
                    .norm-text();
                    padding: 0;
                }
            }
        }

        .costumer-card {
            margin-top: 4rem;
            .flex-box();
            align-items: start;

            .costumer-card-info {
                display: flex;
                justify-content: flex-start;
                align-items: start;
                gap: 2rem;

                .costumer-card-img {
                    min-width: 30%;
                }

                .costumer-card-details {

                    h2 {
                        .title();
                        font-weight: 400;
                        text-transform: uppercase;
                        color: @color-blue;
                        padding: 0;
                        font-size: 1.8rem;
                    }

                    p {
                        .norm-text();
                        font-weight: 400;
                        color: @color-blue;
                        padding: 0;
                    }

                    i {
                        font-size: 2.2rem;
                    }
                }
            }

            .costumer-card-buttons {
                width: 33%;
                gap: .5rem;
                padding-top: 2rem;

                button {
                    padding: 1.1rem 1.2rem;
                    border-radius: 50%;
                    outline: none;
                    border: none;
                    background-color: @color-yellow;
                    cursor: pointer;

                    i {
                        color: @color-white;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    @media screen and (min-width:768px) and (max-width:1024px) {
        min-height: 45vh;

        .costumer-overlay {
            .costumer-card {
                margin-top: 4rem;
                .flex-box();
                align-items: start;

                .costumer-card-info {
                    display: flex;
                    justify-content: flex-start;
                    align-items: start;
                    gap: 2rem;

                    .costumer-card-img {
                        min-width: 40%;
                    }

                    .costumer-card-details {

                        h2 {
                            .title();
                            font-weight: 400;
                            text-transform: uppercase;
                            color: @color-blue;
                            padding: 0;
                            font-size: 1.8rem;
                            line-height: 1.8rem;
                        }

                        p {
                            .norm-text();
                            font-weight: 400;
                            color: @color-blue;
                        }

                        i {
                            font-size: 2.2rem;
                        }
                    }
                }

                .costumer-card-buttons {
                    width: 33%;
                    .flex-box();
                    gap: .5rem;
                    padding: 2rem .5rem;

                    button {
                        padding: 1rem 1.1rem;
                    }
                }
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:768px) {
        min-height: 70vh;
        position: relative;

        .costumer-overlay {
            position: sticky;
            z-index: 1;
            padding: 5% 0;
            .mobile-sizing();

            .costumer-title {
                .flex-box-column();

                .costumer-title-img {
                    width: 10%;
                }

                .costumer-title-info {
                    .flex-box-column();

                    h2 {
                        .title-mob();
                        margin: unset;
                    }

                    p {
                        .norm-text-mob();
                        padding: 0;
                    }
                }
            }

            .costumer-card {
                margin-top: 4rem;
                .flex-box-column();

                .costumer-card-info {
                    .flex-box-column();

                    .costumer-card-img {
                        min-width: 30%;
                    }

                    .costumer-card-details {
                        h2 {
                            .title-mob();
                            font-weight: 400;
                            text-transform: uppercase;
                            color: @color-blue;
                            padding: 0;
                            font-size: 1.8rem;
                        }

                        p {
                            .norm-text-mob();
                            font-weight: 400;
                            color: @color-blue;
                            padding: 0;
                        }

                        i {
                            font-size: 2.2rem;
                            display: block;
                            text-align: center;
                        }
                    }
                }

                .costumer-card-buttons {
                    width: 33%;
                    display: flex;
                    justify-content: center;

                    button {
                        padding: 1.4rem 1.5rem;

                        i {
                            color: @color-white;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

    }

}

.contact {
    .flex-box-column();
    min-height: 85vh;
    position: relative;

    .contact-overlay {
        &::after {
            content: "";
            width: 50%;
            height: 90%;
            border-radius: 150% 0 0 0;
            background-color: @color-black;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        padding: 5% 0;
        width: 70%;

        .contact-title {
            .contact-title-img {
                width: 5%;
            }

            .contact-title-info {
                .flex-box-column();
                align-items: start;

                h2 {
                    .title();
                    margin-top: -1.3rem;
                }

                p {
                    .norm-text();
                    padding: 0;
                    width: 72%;
                }
            }
        }

        .contact-form-div {
            width: 39%;
            padding-top: 2.3rem;

            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                position: relative;

                textarea,
                input {
                    border: 1px solid @color-light-gray;
                    background-color: @color-light-gray;
                    padding: 1rem 0;
                    outline: none;
                    resize: none;
                    .norm-text();
                    padding: 1rem;
                    color: #979696;

                    &::placeholder {
                        .norm-text();
                        padding: 1rem;
                        color: #979696;
                    }
                }
            }

            button {
                margin-top: 3rem;
                .button-yellow();
            }
        }
    }

    @media screen and (min-width:768px) and (max-width:1024px) {
        .flex-box-column();
        min-height: 65vh;
        position: relative;

        .contact-overlay {
            .desktop-sizing();

            &::after {
                content: "";
                width: 50%;
                height: 80%;
                border-radius: 100% 0 0 0;
            }

            .contact-title {
                .contact-title-img {
                    width: 8.5%;
                }

                .contact-title-info {

                    p {
                        .norm-text();
                        padding: 0;
                        width: 70%;
                    }
                }
            }

            .contact-form-div {
                width: 48%;
                padding-top: 2.3rem;
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:768px) {
        .flex-box-column();
        min-height: 100vh;
        position: relative;

        .contact-overlay {
            .mobile-sizing();
            .flex-box-column();

            &::after {
                content: "";
                width: 50%;
                height: 80%;
                border-radius: 100% 0 0 0;
                display: none;
            }

            .contact-title {
                .flex-box-column();

                .contact-title-img {
                    width: 8.5%;
                }

                .contact-title-info {
                    .flex-box-column();

                    p {
                        .norm-text-mob();
                        padding: 0;
                        width: 100%;
                    }
                }
            }

            align-items: unset;

            .contact-form-div {
                width: 100%;
                padding-top: 2.3rem;
            }

        }

        .black-wall {
            width: 100%;
            height: 55vh;
            border-radius: 150% 0 0 0;
            background-color: @color-black;
        }
    }
}

footer {
    min-height: 57vh;
    width: 100%;
    .flex-box-column();

    .footer-overlay {
        width: 100%;

        .up-footer {
            min-height: 45vh;
            .flex-box-column();
            background-color: @color-blue;

            .up-footer-overlay {
                .desktop-sizing();
                .flex-box();
                align-items: start;

                .footer-info {

                    h2 {
                        font-family: @font-family;
                        color: @color-white;
                        font-size: 1.5rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        margin-bottom: 1rem;
                    }

                    li,
                    a {
                        .norm-text();
                        padding: .3rem 0;
                        color: @color-white;
                    }

                }

                .social-media {
                    ul {
                        .flex-box();

                        li {
                            background-color: @color-white;
                            width: 2rem;
                            border-radius: 50%;
                            text-align: center;

                            i {
                                color: @color-blue;
                            }
                        }
                    }
                }

                .newsletter {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    input {
                        .norm-text();
                        background-color: @color-light-gray;
                        border: none;
                        outline: none;
                        outline: none;
                        padding: 1rem;
                        color: #979696;

                        &::placeholder {
                            .norm-text();
                            padding: 1rem;
                            color: #979696;
                        }
                    }

                    ;

                    button {
                        .button-yellow();
                        color: @color-blue;
                        padding: .1rem;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        .down-footer {
            background-color: @color-yellow;
            min-height: 13vh;
            .flex-box-column();

            p {
                .norm-text();
                color: @color-white;
                text-align: center;
            }
        }
    }

    @media screen and (min-width:768px) and (max-width:1024px) {

        min-height: 47vh;

        .footer-overlay {
            .up-footer-overlay {
                min-height: 35vh;
                flex-wrap: wrap;
                gap: 3rem;

                .footer-info {
                    width: 45%;
                }

                .social-media {
                    ul {
                        width: 60%;
                    }
                }
            }

            .down-footer {
                min-height: 4vh;
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:768px) {

        min-height: 60vh;

        .footer-overlay {
            .up-footer-overlay {
                padding: 3% 0;
                .flex-box-column();
                min-height: 57vh;
                .flex-box-column();
                gap: 2rem;

                .footer-info {
                    width: 100%;
                    h2{
                        text-align: center;
                    }
                    ul{
                        li{
                            text-align: center;
                        }
                    }
                }

                .social-media {
                    .flex-box-column();
                    ul {
                        width: 50%;
                    }
                }
            }

            .down-footer {
                min-height: 4vh;
            }
        }
    }

}