.my-inline-block,
.my-inline-block .thing1,
.my-inline-block .thing2 {
  color: green;
  font-size: 3rem;
  font-style: italic;
}
.my-inline-block .thing1 {
  color: red;
}
.my-inline-block .thing2 {
  color: yellow;
}
.mixins-div .mixin1 {
  font-family: cursive;
  font-size: 2rem;
  color: midnightblue;
}
.mixins-div .mixin2 {
  font-family: cursive;
  font-size: 2rem;
  color: midnightblue;
  color: #ad82d7;
}
.operation-div .operation1 {
  font-size: 9rem;
  width: 30%;
  color: #f6430f;
  background-color: #f8b38d;
}
.operation-div .operation2 {
  font-family: cursive;
  font-size: 2rem;
  color: midnightblue;
  color: black;
  font-size: 12rem;
}
